Repository zawolanski/mydocs-rework: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run eslint:fix

.lintstagedrc:

{
  "./*/**/*.{js,jsx,ts,tsx}": [
    "npm run prettier:fix", 
    "npm run eslint:fix"
  ],
  "*.{json,md}": [
    "npm run prettier:fix"
  ]
}

chore: add github actions
  .github/workflows/lint.yml
  styles/Home.module.css
  styles/globals.css
Due: none

chore: lint a github action file
  .github/workflows/lint.yml
Due: none

feat: restructure files and add the tailwind
  .lintstagedrc
  package-lock.json
  package.json
  pages/index.tsx
  postcss.config.js
  src/pages/_app.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/styles/globals.css
  styles/Home.module.css
  styles/globals.css
  tailwind.config.js
Due: npm run prettier:fix, npm run eslint:fix

chore: switch the import/prefer-default-export rule off
  .eslintrc.json
Due: npm run prettier:fix

chore: add rules to the eslint file
  .eslintrc.json
Due: npm run prettier:fix

feat: add and setup firebase
  package-lock.json
  package.json
  src/config/env.ts
  src/config/firebase.config.ts
Due: npm run prettier:fix, npm run eslint:fix

feat: add basic pages
  .eslintrc.json
  src/pages/index.tsx
  src/pages/signin.tsx
  src/pages/signup.tsx
Due: npm run prettier:fix, npm run eslint:fix

feat: add an internationalization to the app
  next-i18next.config.js
  next.config.js
  package-lock.json
  package.json
  public/locales/en/common.json
  public/locales/en/main.json
  public/locales/en/signin.json
  public/locales/en/signup.json
  public/locales/pl/common.json
  public/locales/pl/main.json
  public/locales/pl/signin.json
  public/locales/pl/signup.json
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/signin.tsx
  src/pages/signup.tsx
Due: npm run prettier:fix, npm run eslint:fix

chore: install dependencies and add aliases to the tsconfig file
  package-lock.json
  package.json
  src/components/FAB/index.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  tsconfig.json
Due: npm run prettier:fix, npm run eslint:fix

feat: add a theme detection
  package-lock.json
  package.json
  src/pages/_app.tsx
  tailwind.config.js
Due: npm run prettier:fix, npm run eslint:fix

chore: add globals and disable a rule in the eslint file
  .eslintrc.json
Due: npm run prettier:fix

feat: add new components and remove the FAB
  src/components/FAB/index.tsx
  src/components/Header/index.tsx
  src/components/IconButton/index.tsx
  src/pages/index.tsx
  src/pages/signin.tsx
  src/pages/signup.tsx
Due: npm run prettier:fix, npm run eslint:fix

feat: add the _document page
  src/pages/_document.tsx
Due: npm run prettier:fix, npm run eslint:fix

feat: add a basic structure
  package-lock.json
  public/locales/en/main.json
  public/locales/pl/main.json
  src/components/Header/index.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/common.module.css
Due: npm run prettier:fix, npm run eslint:fix

feat: add the tailwind plugin
  .eslintrc.json
  package-lock.json
  package.json
  tailwind.config.js
Due: npm run prettier:fix

feat: add the page title
  src/components/Header/index.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: npm run prettier:fix, npm run eslint:fix

feat: add the Logo component
  public/locales/en/common.json
  src/components/Header/index.tsx
  src/components/Logo/index.tsx
  src/pages/index.tsx
Due: npm run prettier:fix, npm run eslint:fix

feat: create the Select component
  .eslintrc.json
  src/components/Header/index.tsx
  src/components/Select/index.tsx
  src/components/Select/types.ts
Due: npm run prettier:fix, npm run eslint:fix

chore: add the .prettierignore file
  .prettierignore
Due: none

feat: refactor the code structure
  src/components/Header/Header.tsx
  src/components/Header/index.tsx
  src/components/IconButton/index.tsx
  src/components/Logo/Logo.tsx
  src/components/Logo/index.tsx
  src/components/Select/Select.tsx
  src/components/Select/index.ts
  src/pages/index.tsx
  src/pages/signin.tsx
  src/pages/signup.tsx
Due: npm run prettier:fix, npm run eslint:fix

feat: add common to the translations array
  src/pages/signin.tsx
  src/pages/signup.tsx
Due: npm run prettier:fix, npm run eslint:fix

chore: add reloadOnPrerender and debug flags to the i18next config
  next-i18next.config.js
Due: none

feat: add a language switcher
  src/components/Header/Header.tsx
  src/components/Header/getOptions.tsx
  src/components/Select/Select.tsx
  src/pages/_app.tsx
Due: npm run prettier:fix, npm run eslint:fix

chore: extend the eslint config with the import/order rule
  .eslintrc.json
  src/components/Header/Header.tsx
  src/components/Header/getOptions.tsx
  src/components/Logo/Logo.tsx
  src/components/Select/Select.tsx
  src/config/firebase.config.ts
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/signin.tsx
  src/pages/signup.tsx
Due: npm run prettier:fix, npm run eslint:fix

chore: install and apply the prettier-plugin-tailwindcss
  package-lock.json
  package.json
  src/components/Header/Header.tsx
  src/components/Logo/Logo.tsx
  src/components/Select/Select.tsx
  src/pages/index.tsx
Due: npm run prettier:fix, npm run eslint:fix

feat: add styles to the main page
  public/locales/en/main.json
  src/components/Select/Select.tsx
  src/pages/index.tsx
Due: npm run prettier:fix, npm run eslint:fix

feat: add translations to the Header component
  public/locales/en/common.json
  src/components/Header/Header.tsx
Due: npm run prettier:fix, npm run eslint:fix

refactor: move the panel transition component to the separate file
  src/components/Select/Select.tsx
  src/components/Transition/PanelTransition.tsx
  src/components/Transition/index.tsx
Due: npm run prettier:fix, npm run eslint:fix
